[submodule "solutii/007blak"]
	path = solutii/007blak
	url = git://gist.github.com/951784.git
[submodule "solutii/sovy"]
	path = solutii/sovy
	url = git://gist.github.com/952397.git
[submodule "solutii/flavius"]
	path = solutii/flavius
	url = git@gist.github.com:174d6b0ad00c754360b9.git
[submodule "solutii/paullik"]
	path = solutii/paullik
	url = git://gist.github.com/960680.git
[submodule "solutii/jazz7787"]
	path = solutii/jazz7787
	url = git://gist.github.com/961326.git
[submodule "solutii/Hotice"]
	path = solutii/Hotice
	url = git@gist.github.com:2427745021a73ad983a9.git
[submodule "solutii/lispmachines"]
	path = solutii/lispmachines
	url = git@gist.github.com:47789aea3615e7b6180b.git
[submodule "solutii/starlays"]
	path = solutii/starlays
	url = git://gist.github.com/980282.git
[submodule "solutii/raul21"]
	path = solutii/raul21
	url = git://gist.github.com/1003026.git
[submodule "solutii/ValsiS"]
	path = solutii/ValsiS
	url = git@gist.github.com:1297b739e62a59714d4e.git
[submodule "solutii/acua"]
	path = solutii/acua
	url = git://gist.github.com/1035578.git
[submodule "solutii/Ctek"]
	path = solutii/Ctek
	url = git@gist.github.com:527505e7d4ebff220422.git
[submodule "solutii/Georgeis"]
	path = solutii/Georgeis
	url = git@gist.github.com:0137196cc4747407800c.git
[submodule "solutii/florinfratica"]
	path = solutii/florinfratica
	url = git://gist.github.com/1039933.git
[submodule "solutii/razu_"]
	path = solutii/razu_
	url = git@gist.github.com:d3a5372fb7a2156799d2.git
[submodule "solutii/SebastianSG"]
	path = solutii/SebastianSG
	url = git://gist.github.com/1046842.git
[submodule "solutii/Azrael91"]
	path = solutii/Azrael91
	url = git@gist.github.com:b23653c96fd472b39289.git
[submodule "solutii/Shumi"]
	path = solutii/Shumi
	url = git@gist.github.com:2fe53286f08a4c21e67d.git
[submodule "solutii/eSerbanescu"]
	path = solutii/eSerbanescu
	url = git@gist.github.com:e2586ae7f8e661e14164.git
[submodule "solutii/floo"]
	path = solutii/floo
	url = git@gist.github.com:303648347495fe5c7827.git
[submodule "solutii/misterjinx"]
	path = solutii/misterjinx
	url = git://gist.github.com/1076727.git
[submodule "solutii/AlexandruM"]
	path = solutii/AlexandruM
	url = git://gist.github.com/1078746.git
